{% extends "base.html" %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3"> 
<h1>Form</h1>
<form method='POST' action='' enctype="multipart/form-data">{% csrf_token %}
{{ form.as_p }}

<input type='submit' class='btn btn-default' value='Create a post' />
</form>
</div>
{% endblock content %}