{% extends "base.html" %}

{% block head_title %}
{{ instance.title}} | {{ block.super }}
{% endblock head_title %}

{% block content %}
<div class='col-sm-6 col-sm-offset-	3'>
{% if instance.image %}
	<img src="{{ instance.image.url }}" class='img-responsive' />
{% endif %}
<h1><b>Title:</b> {{ title }} <small>{{ instance.timestamp }}</small></h1>
{% if instance.user.get_full_name %}
<p> Author: {{ instance.user.get_full_name }}</p>
{% endif %}
<p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
<hr/>
</p>
<div class='row'>
<div class='col-sm-10 col-sm-offset-1'>

{{ instance.content | linebreaks }}<br/>
<hr/>
<br>
<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
</div>
</div>
</div>
{% endblock content %}